<!DOCTYPE html>
<html layout:decorator="layout" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Adicionar Ativo</title>
    <link rel="stylesheet" href="/bower_components/jvectormap/jquery-jvectormap.css">
</head>

<body>
    <div layout:fragment="header">
        <h1>
            <i class="fa fa-money"></i> Nova Carteira de Investimento
        </h1>
        <ol class="breadcrumb">
            <li><a href="/home"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="/carteira/index"><i class="fa fa-money"></i> Sua Carteira</a></li>
        </ol>
    </div>

    <div layout:fragment="content">
        <div class="alert alert-success" role="alert" th:text="${successMessage}" th:if="${successMessage}"></div>
        <div class="alert alert-warning" role="alert" th:text="${failMessage}" th:if="${failMessage}"></div>
        <div class="row">
            <div class="col-sm-12">
                <div class="box box-primary">
                    <form th:action="@{/carteira/cadastrar}" th:object="${carteiraAtivo}" method="post">
                        <div class="box-body">
                            <div class="col-sm-12 col-md-2">
                                <label for="ativo">Ativo</label>
                                <div class="input-group">
                                    <select class="form-control input-lg" th:field="*{ativoAbstract}">
                                        <option id="ativo" th:each="ativo : ${ativos}"
                                                th:value="${ativo.id}"
                                                th:text="${ativo.codigo}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-3">
                                <label for="valor">Valor</label>
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon2">R$</span>
                                    <input type="number" class="form-control input-lg" placeholder="Valor em reais" id="valor" th:field="*{valor}">
                                    <span class="input-group-addon">.00 (BRL)</span>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-2">
                                <label for="operacoes">Operação</label>
                                <div class="input-group">
                                    <select class="form-control input-lg" th:field="*{operacao}">
                                        <option id="operacoes" th:each="operacao : ${T(br.com.stonks.stonks.models.Operacao).values()}"
                                                th:value="${operacao}"
                                                th:text="${operacao}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-2">
                                <label for="valor">Quantidade</label>
                                <div class="input-group">
                                    <input type="number" class="form-control input-lg" placeholder="Quantidade" th:field="*{quantidade}">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-3">
                                <label for="dataTransacao">Data Transação</label>
                                <div class="input-group">
                                    <input class="form-control input-lg" type="date" id="dataTransacao" th:field="*{dataTransacao}">
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary pull-right">Cadastrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>