<!DOCTYPE html>
<html layout:decorator="layout" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Relatório Ativos</title>
    <link rel="stylesheet" href="/bower_components/jvectormap/jquery-jvectormap.css">
</head>
    <meta charset="UTF-8">
    <title>Relatório Ativos</title>
</head>
<body>
<div layout:fragment="content">
    <style>
        .confirmacao p {
            color: #616161;
            font-size: 16px;
        }

        .confirmacao span {
            color: black;
            font-size: 16px;
        }

        .title-confirmacao {
            padding-bottom: 20px;
        }

        p {
            text-transform: uppercase !important;
        }

        h5 {
            text-align: center
        }
    </style>
    <div class="row confirmacao">
        <div class="col-12 title-confirmacao">
            <h5>
                <span th:text="${usuario.nome}"></span>
            </h5>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="dataTable" class="table table-striped table-bordered inputToUpper"
                               th:each="ativoCarteira : ${ativosCarteira}">
                            <thead>
                            <tr>
                                <th>Código</th>
                                <th>Data compra</th>
                                <th>Valor</th>
                                <th>Quantidade</th>
                                <th>Total</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr>
                                <td>
                                    <span th:text="${ativoCarteira.ativo.codigo}"></span>
                                </td>
                                <td>
                                    <span th:text="${#dates.format(ativoCarteira.dataTransacao, 'dd/MM/yyyy')}"></span>
                                </td>
                                <td>
                                    <span th:text="${ativoCarteira.valor}"></span>
                                </td>
                                <td>
                                    <span th:text="${ativoCarteira.quantidade}"></span>
                                </td>
                                <td>
                                    <span th:text="${ativoCarteira.quantidade * ativoCarteira.valor}"></span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>