<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ação | Cadastrar</title>
    <!-- link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}" /-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="background-color: #ededed;">
<div style="background-color: #337ab7; height: 50px;"></div>
<div class="container-fluid" style="margin-top: 30px;">
    <div class="row col-lg-4 col-lg-offset-4" style="margin-top: 40px; background-color: #fff; padding: 20px; border: solid 1px #ddd;">
        <form autocomplete="off" th:action="@{/acao/cadastro}" th:object="${acao}" method="post" class="form-signin" role="form">
            <h3 class="form-signin-heading">Cadastrar - Ação</h3>
            <div class="form-group">
                <div class="">
                    <input type="text" name="nome" th:field="*{nome}" placeholder="Nome" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <input type="text" name="codigo" th:field="*{codigo}" placeholder="Código" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <input type="number" name="valor" th:field="*{valor}" placeholder="Valor" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <input type="text" name="setor" th:field="*{setor}" placeholder="Setor" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <select th:field="*{empresa}">
                        <option th:value="null">Selecione uma empresa</option>
                        <option
                                th:each="empresa: ${empresas}"
                                th:value="${empresa.getId()}"
                                th:text="${empresa.getNome()}" >
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <button type="submit" class="btn btn-primary btn-block">Cadastrar Nova Ação</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>